# Rename to .env and fill in your credentials

# IMERG Configuration
imerg_username=your_username
imerg_password=your_password
data_path=./data/

# Google Cloud Storage
GCS_BUCKET_NAME=your_bucket_name
GOOGLE_APPLICATION_CREDENTIALS=credentials/gcs-key.json
