bottleneck
dask
fiona
geopandas
google-auth>=2.17.0
google-cloud-storage>=2.10.0
matplotlib
netCDF4
numpy
pandas
prefect==2.14prefect>=3.4.0
pyproj
python-dotenv>=1.0.0
rasterio
rioxarray
scipy
shapely
xarray
